/* reset  */
*{
  margin: 0;
}

main, footer{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
  
}


/* logo  */
#logo{
  height: 150px;
  background-image: url(../img/pattern.png);
  background-color: rgb(0, 153, 255);
}


#logo2{
  margin-left: 100px;
  margin-right: 100px;
  width: 300px;
  margin-top: 65px;
}

/* autore e data  */
#autore-data h4{
  color: grey;
}

.sotto-tim-1, .sotto-tim-2{
  font-size: 10px;
}

.sotto-tim-2{
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #0086df;
}

/* paragrafo principale  */
#paragrafo-principale{
  margin-bottom: 40px;
}

ul{
  margin-bottom: 40px;
  padding-left: 20px;
}

.giallo{
  background-color: yellow;
}

/* tabelle  */
.tabelle{
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tb-speciale{
  background-color: rgba(178,230,242,255);
}

#ht{
  background-color: rgb(26, 170, 230);
  height: 1px;
}

#ht td{
  color: white;
  font-weight: bold;
}

.t-special{
  max-width: 300px;
}


/* footer  */
footer h4{
  color:gray;
  margin: 20px 0 20px 0;

}

.img-footer, .h3{
  color:white;
  font-weight: bold;
}

#prima-img{
  background-image: url(../img/monitor.jpg);
}

#seconda-img{
  background-image: url(../img/graph.jpg);
}
.img-footer{
  width: 200px;
  height: 150px;
  background-position: center;
  background-size: cover;
  padding: 10px;
  margin: 10px 0;
}