/* reset  */
*{
  margin: 0;
}

/* logo  */
#logo{
  height: 150px;
  background-image: url(../img/pattern.png);
  background-color: rgb(0, 153, 255);
}


#logo2{
  width: 300px;
  margin-top: 65px;
  margin-left: 20px;
}

/* autore e data  */
#autore-data h4{
  color: grey;
}

.sotto-tim-1, .sotto-tim-2{
  font-size: 10px;
}

.sotto-tim-2{
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #0086df;
}

#sotto-img{

}

/* paragrafo principale  */
#paragrafo-principale{
  margin-bottom: 40px;
}

ul{
  margin-bottom: 40px;
  padding-left: 20px;
}

.giallo{
  background-color: yellow;
}

/* tabelle  */
.tabelle{
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tb-speciale{
  background-color: rgba(178,230,242,255);
}

#ht{
  background-color: rgb(26, 170, 230);
  height: 1px;
}

#ht td{
  color: white;
  font-weight: bold;
}

.t-special{
  max-width: 300px;
}

